.about {
  padding: 125px 0;
}

.about__title {
  margin-bottom: 30px;

  font-size: 30px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-align: center;
  color: $black;
}

.about__subtitle {
  margin-bottom: 120px;

  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.75px;
  text-align: center;
  color: $black;
}

.about__row {
  display: flex;
}

.about__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: $black;
}

.about__item-icon {
  margin-bottom: 38px;
}

.about__item-title {
  margin-bottom: 23px;

  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 1px;
}

.about__item-text {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.75px;
  text-align: center;
}
@include for-phone-only {
  .about {
    padding: 80px 0;
  }
  .about__title {
    margin-bottom: 10px;

    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .about__subtitle {
    margin-bottom: 80px;
  }
  .about__row {
    flex-wrap: wrap;
  }
  .about__item {
    margin-bottom: 45px;
  }
  .about__item-icon {}
  .about__item-title {}
  .about__item-text {}
}