<div class="blog">
    <div class="container">
        <div class="blog__title">
            Blog
        </div>
        <div class="inner_text">
            <div class="blog__subtitle">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam,
            </div>
        </div>
        <div class="blog__row">
            <div class="blog__img">
                <img src="assets/img/blog_1.jpg" alt="">
            </div>
            <div class="blog__content">
                <a href="#" class="blog__name">
                    SEO Quis Vestibulum
                </a>
                <div class="blog__top">
                <span class="blog__date">
                    <span>&#xf073;</span>
                    14.0702017
                </span>
                <span class="blog__category">
                    <span>&#xf016;</span>
                    Development
                </span>
                </div>

                <div class="blog__text">
                    Dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat...
                </div>
            </div>
        </div>
        <div class="blog__row">
            <div class="blog__content blog__content--even">
                <a href="#" class="blog__name">
                    SEO Quis Vestibulum
                </a>
                <div class="blog__top">
                <span class="blog__date">
                    <span>&#xf073;</span>
                    14.0702017
                </span>
                <span class="blog__category">
                    <span>&#xf016;</span>
                    Development
                </span>
                </div>

                <div class="blog__text">
                    Dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat...
                </div>
            </div>
            <div class="blog__img">
                <img src="assets/img/blog_2.jpg" alt="">
            </div>
        </div>
        <div class="blog__row">
            <div class="blog__img">
                <img src="assets/img/blog_3.jpg" alt="">
            </div>
            <div class="blog__content">
                <a href="#" class="blog__name">
                    SEO Quis Vestibulum
                </a>
                <div class="blog__top">
                <span class="blog__date">
                    <span>&#xf073;</span>
                    14.0702017
                </span>
                <span class="blog__category">
                    <span>&#xf016;</span>
                    Development
                </span>
                </div>

                <div class="blog__text">
                    Dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat...
                </div>
            </div>
        </div>
        <a href="#" class="btn btn--blog">More view</a>
    </div>
</div>