<div class="contacts">
    <div class="container">

        <div class="contacts__title">
            Contact Us
        </div>
        <div class="inner_text">
            <div class="contacts__subtitle">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam,
            </div>
        </div>
        <div class="contacts__row">
            <div class="contacts__item">
                <div class="contacts__img">
                    <span>&#xf041;</span>
                </div>
                <div class="contacts__location">
                    <a href="#">Nobinagar savar,Dhaka<br/>
                    Bangladesh
                    </a>
                </div>
            </div>
            <div class="contacts__item">
                <div class="contacts__img">
                    <span>&#xf095;</span>
                </div>
                <div class="contacts__location">
                    <a href="tel:8801743331996">+8801743331996</a><br/>
                    <a href="tel:8801928737807">+8801928737807</a>
                </div>
            </div>
            <div class="contacts__item">
                <div class="contacts__img">
                    <span class="contacts__mail">&#xf003;</span>
                </div>
                <div class="contacts__location">
                    <a href="mailto:quickmasud@gmail.com">quickmasud@gmail.com</a><br/>
                    <a href="mailto:quickmasud@yahoo.com">quickmasud@yahoo.com</a>
                </div>
            </div>
        </div>
        <form action="#" class="contacts__form">
            <div class="form__group">
                <input type="text" placeholder="Your NAME"/>
                <input type="text" placeholder="Your Email"/>
            </div>
            <div class="form__group">
                <textarea name="" id="" rows="10" placeholder="Write Massage"></textarea>
            </div>
            <div class="form__group form__group--btn">
                <button class="contacts__btn" type="submit">send</button>
            </div>
        </form>
    </div>
</div>