<div class="container">
    <div class="header__row">
        <div class="logo">
            <img src="assets/img/YourLogo.svg" alt="">
        </div>
        <div class="header__menu">
            &#xf0c9;
        </div>
        <nav class="header__nav">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Servicing</a></li>
                <li><a href="#works">Portfolio</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contacts">Contact us</a></li>
            </ul>
        </nav>
    </div>
</div>