<div class="prices">
    <div class="container">
        <div class="prices__title">
            Pricing Plan
        </div>
        <div class="inner_text">
            <div class="prices__subtitle">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam,
            </div>
        </div>
        <div class="prices__row">
            <div class="price">
                <div class="price__head">
                    <div class="price__title">
                        Free Trail
                    </div>
                    <div class="price__count">
                        <span class="price__amount"><sup>$</sup>00 </span>
                        <span class="price__period">per month</span>
                    </div>
                </div>
                <div class="price__body">
                    <p class="price__content">30 Free Trail</p>
                    <p class="price__content">5 Free Projects</p>
                    <p class="price__content">PHP 5 Enabled</p>
                    <p class="price__content">24/7 Suports</p>
                </div>
                <a href="#" class="btn btn--price">ORDER NOW</a>
            </div>
            <div class="price">
                <div class="price__head">
                    <div class="price__title">
                        Basic
                    </div>
                    <div class="price__count">
                        <span class="price__amount"><sup>$</sup>50 </span>
                        <span class="price__period">per month</span>
                    </div>
                </div>
                <div class="price__body">
                    <p class="price__content">30 Free Trail</p>
                    <p class="price__content">5 Free Projects</p>
                    <p class="price__content">PHP 5 Enabled</p>
                    <p class="price__content">24/7 Suports</p>
                </div>
                <a href="#" class="btn btn--price">ORDER NOW</a>
            </div>
            <div class="price">
                <div class="price__head">
                    <div class="price__title">
                        Ultimates
                    </div>
                    <div class="price__count">
                        <span class="price__amount"><sup>$</sup>99 </span>
                        <span class="price__period">per month</span>
                    </div>
                </div>
                <div class="price__body">
                    <p class="price__content">30 Free Trail</p>
                    <p class="price__content">5 Free Projects</p>
                    <p class="price__content">PHP 5 Enabled</p>
                    <p class="price__content">24/7 Suports</p>
                </div>
                <a href="#" class="btn btn--price">ORDER NOW</a>
            </div>
    </div>
</div>