<div class="team">
    <div class="container">
        <div class="team__title">
            Our Team Member
        </div>
        <div class="inner_text">
            <div class="team__subtitle">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam,
            </div>
        </div>
        <div class="team__slick">
            <div class="team__row">
                <div>
                    <div class="member">
                        <div class="member__photo">
                            <img src="assets/img/member_1.jpg" alt="">
                        </div>
                        <div class="member__name">
                            John Doe
                        </div>
                        <div class="member__position">
                            General Manager
                        </div>
                        <div class="member__social">
                            <span>&#xf09a;</span>
                            <span>&#xf099;</span>
                            <span>&#xf0e6;</span>
                            <span>&#xf17d;</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="member">
                        <div class="member__photo">
                            <img src="assets/img/member_2.jpg" alt="">
                        </div>
                        <div class="member__name">
                            Alexa Biru
                        </div>
                        <div class="member__position">
                            Office Director
                        </div>
                        <div class="member__social">
                            <span>&#xf09a;</span>
                            <span>&#xf099;</span>
                            <span>&#xf0e6;</span>
                            <span>&#xf17d;</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="member">
                        <div class="member__photo">
                            <img src="assets/img/member_3.jpg" alt="">
                        </div>
                        <div class="member__name">
                            Ronobir sing
                        </div>
                        <div class="member__position">
                            Admin
                        </div>
                        <div class="member__social">
                            <span>&#xf09a;</span>
                            <span>&#xf099;</span>
                            <span>&#xf0e6;</span>
                            <span>&#xf17d;</span>
                        </div>
                    </div>
                </div>




            </div>
            <div class="team__row">
                <div>
                    <div class="member">
                        <div class="member__photo">
                            <img src="assets/img/member_1.jpg" alt="">
                        </div>
                        <div class="member__name">
                            John Doe
                        </div>
                        <div class="member__position">
                            General Manager
                        </div>
                        <div class="member__social">
                            <span>&#xf09a;</span>
                            <span>&#xf099;</span>
                            <span>&#xf0e6;</span>
                            <span>&#xf17d;</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="member">
                        <div class="member__photo">
                            <img src="assets/img/member_2.jpg" alt="">
                        </div>
                        <div class="member__name">
                            Alexa Biru
                        </div>
                        <div class="member__position">
                            Office Director
                        </div>
                        <div class="member__social">
                            <span>&#xf09a;</span>
                            <span>&#xf099;</span>
                            <span>&#xf0e6;</span>
                            <span>&#xf17d;</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="member">
                        <div class="member__photo">
                            <img src="assets/img/member_3.jpg" alt="">
                        </div>
                        <div class="member__name">
                            Ronobir sing
                        </div>
                        <div class="member__position">
                            Admin
                        </div>
                        <div class="member__social">
                            <span>&#xf09a;</span>
                            <span>&#xf099;</span>
                            <span>&#xf0e6;</span>
                            <span>&#xf17d;</span>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>