<div class="top">
    <div class="container">
        <div class="top__column">
            <div class="top__title">
                Web development project
            </div>
            <div class="top__subtitle">
                Very suitable to support all web development projects
            </div>
            <div class="top__buttons">
                <a href="#services" class="btn">OUR SERVICES</a>
                <a href="#contacts" class="btn">HIRE IS NOW</a>
            </div>
            <span class="top__down">
                &#xf078;
            </span>
        </div>

    </div>
</div>