<div class="works">
    <div class="container">
        <div class="works__title">
            Latest Works
        </div>
        <div class="inner_text">
            <div class="works__subtitle">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam,
            </div>
        </div>
        <nav class="works__menu">
            <a href="#" class="btn btn--works">All</a>
            <a href="#" class="btn btn--works">Web Design</a>
            <a href="#" class="btn btn--works">UI/UX Design</a>
            <a href="#" class="btn btn--works">Mockups</a>
        </nav>
        <div class="portfolio">
            <div class="portfolio__row">
                <div class="portfolio__item">
                    <img src="assets/img/item_1.jpg" alt="">
                    <div class="portfolio__span">
                        <p class="portfolio__label">Hand Watch</p>
                        <p class="portfolio__category">ui/ux design
                    </div>
                    </p>
                </div>
                <div class="portfolio__item">
                    <img src="assets/img/item_2.jpg" alt="">
                    <div class="portfolio__span">
                        <p class="portfolio__label">Label</p>
                        <p class="portfolio__category">Category</p>
                    </div>

                </div>
                <div class="portfolio__item">
                    <img src="assets/img/item_3.jpg" alt="">
                    <div class="portfolio__span">
                        <p class="portfolio__label">Label</p>
                        <p class="portfolio__category">Category</p>
                    </div>

                </div>

                <div class="portfolio__item">
                    <img src="assets/img/item_4.jpg" alt="">
                    <div class="portfolio__span">
                        <p class="portfolio__label">Label</p>
                        <p class="portfolio__category">Category</p>
                    </div>

                </div>
                <div class="portfolio__item">
                    <img src="assets/img/item_5.jpg" alt="">
                    <div class="portfolio__span">
                        <p class="portfolio__label">Label</p>
                        <p class="portfolio__category">Category</p>
                    </div>

                </div>
                <div class="portfolio__item">
                    <img src="assets/img/item_6.jpg" alt="">
                    <div class="portfolio__span">
                        <p class="portfolio__label">Label</p>
                        <p class="portfolio__category">Category</p>
                    </div>

                </div>
            </div>
        </div>
        <a href="#" class="btn btn--works">View All</a>
    </div>
</div>