//WIDTH`S
$container : 1170px;
$text_container: 625px;

//BREAKPOINT - 1169
$container_md : 890px;
$container_sm : 625px;
$container_xs : 450px;
//------------------

//COLORS
$white : #fff;
$black : #212121;
$active : #00897b;
$grey : #f0f1f1;
$blue : #3949ab;
$green : #e4fdf9;
//------------------

//FONTS
$icons : 'icomoon';